/* nothing */
.footer{
    position: absolute;
    bottom: 0;
    background: #00218b;
    width: 100%;
    padding: 10px 0;
    p{
        margin-bottom: 0;
        color: #fff;
        text-align: center;
    }
}