node_modules/
front/node_modules/
back/node_modules/
app/package-lock.json
app/yarn.json
back/package-lock.json
.idea/
*.log

build/
dist/
public/assets/
recursos/
front/docs/
front/package-lock.json
front/docs/public
/coverage
/.nyc_output

.DS_Store
front/yarn.lock