<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415326642700-okrkqhvbeh6im3damuuf7q7fbmt5gjih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415326642700-okrkqhvbeh6im3damuuf7q7fbmt5gjih</string>
	<key>API_KEY</key>
	<string>AIzaSyCJRrshuCoeDZu1iAvPRqs3ScSbyLjRI_0</string>
	<key>GCM_SENDER_ID</key>
	<string>415326642700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rallycolombina.rallycolombina</string>
	<key>PROJECT_ID</key>
	<string>test2rall-e</string>
	<key>STORAGE_BUCKET</key>
	<string>test2rall-e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415326642700:ios:77729c35b026e710</string>
	<key>DATABASE_URL</key>
	<string>https://test2rall-e.firebaseio.com</string>
</dict>
</plist>