
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////    FILA FECHAS
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.contenedorFechas{
  margin: 20px auto;
  width: 920px;
  .subContenedorFechas{
    border: 1px solid #d6d6d6;
    display: inline-table;
    text-align: center;
    cursor: pointer;
    padding: 20px 10px;
    min-width: 132px;
    p{
      margin: 0;
      font-size: 21px
    }
  }
  i{
    cursor: pointer;
    font-size: 22px;
    margin: 0 10px;
  }
}

.contenedorSpin{
  text-align: center 
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////    COLUMNA VEHICULOS
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.contenedorVehiculosPedidos{
  margin-top: 25px;
  margin: 20px auto;
  width: 950px;
  >div{
    // box-shadow: 0px 5px 3px rgba(128, 128, 128, 0.09);
    margin-bottom: 24px;
  }
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
.columnaVehiculo{
  display: inline-block;
  text-align: center;
  position: relative;
  border: 1px solid rgba(173, 173, 173, 0.24);
  padding: 21px 7px;
  width: 141px;
  font-size: 17px;
  margin: 0;
  top: -27px;
  height: 101px;
}

.filaPedido{
  display: inline-flex;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hidden;
  width: 776px;
  padding-bottom: 5px;
  ul{
    padding: 0;
    margin: 0;
    li{
      display: inline-block;
      cursor: all-scroll;
      text-align: center;
      border: 1px solid rgba(173, 173, 173, 0.24);
      padding: 5px 15px;
      font-size: 13px;
      margin: 0;
      border-bottom: 0;
    }
  }
}
.btnGuardar{
  display: inline-flex;
  position: relative;
  cursor: pointer;
  padding: 10px;
  top: -26px;
}