
.container{
  margin:30px auto;
  max-width: 1450px;
}


.containerBotones{
  section{
    >div{
      float: left
    }
    display: inline;
  }
  button{
    color:white;
    margin-right:10px;
    margin-bottom:20px;
  }
}

.link{
  color: #1890ff;
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.avatar{
  width:100px
}
.contenedorConductor{
  cursor: pointer;
  border: 1px solid rgba(70, 69, 69, 0.18);
  margin: 10px 0;
  padding: 9px;
  border-radius: 6px;
  >div{
    display: inline-block;
    width: 33%;
  }
}
.inputSearch{
  width: 400px;
  padding: 5px;
  box-shadow: 1px 1px 3px 3px rgba(128, 128, 128, 0.15);
  border: none;
}